language: go
sudo: false
install:
- go get github.com/smartystreets/goconvey/convey
- go get github.com/willf/bitset
- go get golang.org/x/tools/cmd/cover
- go get github.com/mattn/goveralls
notifications:
  email: false
go:
- 1.4
- 1.5
- 1.6
- tip
script:
- go test -v -covermode=count -coverprofile=coverage.out
- $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken KOlKyOXz0qSjAqvfTF28RzNlr3unxjrLh
matrix:
  allow_failures:
  - go: tip
