
name: Go-legacy-CI

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.17.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test
      run: |
        GOARCH=386 go build ./roaring64
        GOARCH=386 go build ./BitSliceIndexing
        GOARCH=386 go test -v 
        GOARCH=386 go test -v ./roaring64
        GOARCH=386 go test -v ./BitSliceIndexing
