
name: Go-Windows-CI

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test
      run: |
        go build -tags appengine
        go test -tags appengine
        go test -v
        go test -v ./roaring64
        go test -v ./BitSliceIndexing
